
.hidden {
    display: none !important;
}
/* * {
   border: 1px solid black; 
} */

@font-face {
    font-family: "pokemon";
    src: url(/font/pokemon.ttf);
}

html, body{
    background-color: whitesmoke;
    height: 100vh;
    overflow: hidden;
  }

h1,
h2,
h3,
p{
    font-family: "pokemon", sans-serif;
    font-size: 1em;
}

.right-side{
    margin-left: 1%;
}
.left-side{
    margin-right: 1%;
}

.wins-counter{
    display: flex;
}

 .main-section{
    display:flex;
    justify-content:space-between;
    height: 100vh;
 }

.middle-side{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 5vh 18vw 10vh 18vw;
    border-left-style: double;
    border-right-style: double;
    height: inherit;
    border-width: .6em;
}

.games-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.game{
    border: 5px black double;
    width: 70%;
    height: 80%;
    margin: 5%;
    cursor: pointer;
}

.fighting-type{
    margin-top: 35%;
   font-size: 48px;
}

#starters{
    margin-bottom: 20px;
}

.pokemon-team,
.pokemon-team-2 {
    display:flex;
    flex-direction: column;
}

/* .display-options{
    display: flex;
} */


.emoji,
.rock-emoji,
.poison-emoji {
    display: flex;
    flex-direction: row;
    margin-top: 30%;
    font-size: 7vh;
}

