.hidden{
  display: none !important;
}

@font-face {
  font-family: "pokemon";
  src: url(/font/pokemon.ttf);
}

html, 
body{
  background-color: whitesmoke;
  height: 100vh;
  overflow: hidden;
  font-family: "pokemon", sans-serif;
  font-size: 1.5vw;
}

.main-section{
  display:flex;
  justify-content:space-between;
  height: 100vh;
}
 
.left-side{
  width: 15vw;
  border-right-style: double;
  border-width: .8em;   
}

.right-side{
  width: 15vw;
  border-left-style: double;
  border-width: .8em;   
}

.wins-counter{
  display: flex;
}

.pokemon-team,
.pokemon-team-2 {
  display:flex;
  flex-direction: column;
}

.middle-side{
  display: flex;
  flex-direction: column;
  text-align: center;
  height: inherit;
}

.games-container,
.i-choose-you{
  margin-top: 33px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.game-winner-text{
  font-size: 15px;
}

.change-game{
  margin-top: 25%;
}

.game{
  width: 70%;
  height: 80%;
  margin: 5%;
  cursor: pointer;
}

.fighting-type{
  margin-top: 35%;
  font-size: 48px;
}

.emoji,
.rock-emoji,
.poison-emoji {
  display: flex;
  flex-direction: row;
  margin-top: 30%;
  font-size: 7vh;
}



