html, body{
    background-color: whitesmoke;
    height: 100%;
  }

 .main-section{
    display:flex;
    justify-content:space-between;
 }

.middle-side{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px 18vw 20px 18vw;
    border-left-style: dotted;
    border-right-style: dotted;
}

.games-container{
    display: flex;
    flex-direction: column;
}

#starters{
    margin-bottom: 20px;
}
